*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: yellow;
}
img{
    width: 30px;
    height: 30px;
}
.loges{
    display: flex;
    flex-direction: row;
    gap: 15%;
    width: 27%;
    height: 9%;
    border-radius: 50px;
    background-color: aliceblue;
    border: 2px solid black ;
    padding: 17px;
}